/**
 * Summary:
 *  Handles the common CSS for all the pages.
 */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css');

/*
* handles main page css
*/
root {
    display: block;
    height: 90%;
    width: 100%;

}

html, body {
    color: rgba(0, 0, 0, 1);
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1rem !important;
    font-weight: bold;
    height: 100%;
}

a {
    text-decoration: none;
}

main {
    display: grid;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    user-select: none;
}


/*
* handles inner page css
*/

ui-header {
    text-align: center;
}



.ui-wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    width: 65%;
    margin: 2rem auto 0 auto;
    text-align: left;
}

.ui-searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ui-searchbar h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #FFF;
    letter-spacing: 4px;
}

.ui-searchbar input {
    width: 30rem;
    padding: 1rem 1rem;
    border-radius: 30px;
    border: none;
    outline: 0;
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: bold;
}

.ui-topsites {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 15px;
    width: 95%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.ui-topsites-item {
    font-size: 1.5rem !Important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    transition: background ease-in .3s;
}

.ui-topsites-item:hover {
    background: rgba(0, 0, 0, .15);
}

.ui-topsites-item:hover > .ui-topsite-icon {
    background: #09F;
}

.ui-topsites-item-edit {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: all linear .2s;
}

.ui-topsites-item-edit:hover {
    opacity: 1;
}

.ui-topsite-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .7rem;
    width: 3rem;
    height: 3rem;
    background: rgba(0, 0, 0, .3);
    border-radius: 50px;
    pointer-events: none;
    color: #FFF;
    transition: background ease-in .1s;
}


.ui-topsites-item span {
    color: #FFF;
    letter-spacing: 2px;
}

.ui-edit {
    width: 100%;
    padding-right: 2rem;
    text-align: right;
}

/*
* add button on the side css
*/
.floating-menu {
    position: absolute;
    right: 50px;
    bottom: 50px;
    height: 50px;
    text-align: right;
    /*transition: height 250ms ease-in-out;*/
}

.floating-menu.open {
    height: 160px;
    overflow: hidden;
}

.floating-menu.open .floating-menu-item {
    margin-top: 8px;
}

.floating-menu-item label {
    display: inline-block;
    margin-right: 8px;
    padding: 4px 10px;
    border-radius: 500px;
    background: rgba(0, 0, 0, .25);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.floating-menu-item .ui.button {
    background-color: #2E4158;
    border-radius: 50px !important;
}

.floating-menu.open .floating-menu-item label {
    opacity: 0.9;
    color: black;
}

.floating-menu-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    background: #e53935;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    text-align: center;
}

.floating-menu-icon .material-icons {
    font-size: 1rem;
    color: #fff;
    position: absolute;
}

/*
* handles logo and login css
*/
.logo {
    text-align: center;
    min-height: 200px;
    margin: 50px auto;
    background-color: #FFFFFF;
    border-radius: 8px;
    -moz-box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.logo i {
    display: block;
    font-size: 70px;
    transform: translateX(-5px);
}

.logo span {
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}

.login {
    opacity: 1;
    visiblity: visible;
    position: absolute;
    z-index: 1000;
    top: 25%;
    left: 38%;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, .3);
    height: 440px;
    width: 400px;
    color: white;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 10px 10px 15px -6px rgba(0, 0, 0, 0.25);
    transition: opacity .3s ease-in .3s,
    visibility .3s ease-in .3s;
    transform: scale(.9);
}


.submit-button {
    cursor: pointer;
    margin-top: 20px;
    width: 310px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 2px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;

    transition: background-color .4s ease-out;
}

.outer-screen {
    background: #13202c;
    width: 900px;
    height: 607px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    top: 25%;
    left: 5%;
    padding-top: 35px;
}

.outer-screen:before {
    content: "";
    background: #3e4a53;
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
    left: 4%;
    margin: auto;
    z-index: 9999;
    width: 50px;
    height: 50px;
}

.outer-screen:after {
    content: "";
    background: #ecf0f1;
    width: 900px;
    height: 88px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 0px 0px 20px 20px;
    -moz-border-radius: 0px 0px 20px 20px;
    -webkit-border-radius: 0px 0px 20px 20px;
}

.stand {
    position: absolute;
    left: -48%;
    bottom: -1500%;
}

.stand:before {
    content: "";
    position: absolute;
    bottom: -150px;
    border-bottom: 150px solid #bdc3c7;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    width: 200px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.stand:after {
    content: "";
    position: absolute;
    width: 260px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-bottom: 30px solid #bdc3c7;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    bottom: -180px;
    box-shadow: 0px 4px 0px #7e7e7e
}

.inner-screen {
    width: 800px;
    height: 446px;
    background: #1abc9d;
    margin: 0px auto;
    padding-top: 80px;
    top: 25%;
    left: 38%;
}


/*
* handles notification bell css
*/
.my-btn, .btn-bell {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.my-btn {
    height: 60px;
    width: 60px;
    top: 13%;
    left: 34%;
    box-shadow: -1px 2px 10px #999;
    background: #ef7575;
    animation-name: col;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.my-btn-border {
    height: 59px;
    width: 59px;
    border: 1px solid #ef7575 !important;
    animation-name: bord-pop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-bell {
    color: white;
    font-size: 20px;
    animation-name: bell-ring;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bord-pop {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.9);
        opacity: 0.1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.9);
        opacity: 0;
    }
}

@keyframes col {
    0% {
        transform: scale(1) translate(0, 0);
    }
    10% {
        transform: scale(1.1) translate(0, 0);
    }
    75% {
        transform: scale(1) translate(0, 0);
    }
    100% {
        transform: scale(1) translate(0, 0);
    }
}

@keyframes bell-ring {
    0% {
        transform: translate(-50%, -50%);
    }
    5%, 15% {
        transform: translate(-50%, -50%) rotate(25deg);
    }
    10%, 20% {
        transform: translate(-50%, -50%) rotate(-25deg);
    }
    25% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}




/*
* handles sidebar menu css
*/
.menubar {
    display: block;
    margin-left: -25% !important;
    margin-top: -26% !important;
    width: 76px;
    height: 60px;
    background-color: #010102;
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
}

.menubar span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 300;
    font-size: 2em;
    line-height: 60px;
}
/*
* handles the three lines button that closes and open the menu
*/
#hambmenu {
    position: relative;
    width: 45px;
    height: 45px;
    float: left;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#hambmenu span {
    position: absolute;
    height: 5px;
    width: 100%;
    vertical-align: middle;
    margin: 20px 0 0 15px;
    background: white;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    padding: 0px;
}

.hambclicker {
    content: "";
    height: 65px;
    width: 76px;
    position: absolute;
    top: -26% !important;
    left: -15% !important;
    cursor: pointer;
    z-index: 9;
}

#hambmenu span:nth-child(1) {
    top: 0px;
}

#hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
    top: 10px;
}

#hambmenu span:nth-child(4) {
    top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

#menu {
    position: absolute;
    height: calc(100vh - 60px);
    width: 157%;
    left: -15% !important;
    top: 22% !important;
    background-color: #5e5e5e;
    -webkit-transform: translateX(-200%);
    transform: translateX(-78%);
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    z-index: 10;
}

#menu ul {
    margin-top: 0px;
    padding: 0px;
    color: black;
    list-style-type: none;
    text-align: left;
}

#menu li {
    padding: 10px 0 10px 10px;
    font-size: 1.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

#menu li:last-child {
    border-bottom: none;
}

.fa {
    color: black;
    padding-right: 8px;
}

li a {
    text-decoration: none;
    color: #f0f0f0 !important;
}

#menu.isopen {
    -webkit-transform: none;
    transform: none;
}

#menu.isopen i {
}

@media screen and (max-width: 65px) {
    .menubar span {
        font-size: 1.2em;
    }
}


.ui.vertical.tabular.menu {
    border-right: 0;
}


#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
}

.sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    top:56px !important;
    width: 50px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #343a40!important;
    transition: all 0.5s ease;
}

.sidebar-wrapper:hover{
    width: 240px !important;
}
#wrapper.toggled .sidebar-wrapper {
    width: 250px;
}

.sidebar-brand {
    position: absolute;
    top: 50px;
    width: 250px;
    text-align: center;
    padding: 20px 0;
    z-index: 2000;
    font-size: 24px!important;

}
#menuHeader button{
    margin-left: -295px !important;
    margin-top: -5px !important;
}
#menuHeader button h2{
    font-size: 1.5rem !important;
}
.sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    margin-left: -185px !important;
    margin-top: -8px !important;

}

.sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav > ul {
    text-indent: 10px;
    line-height: 42px;
    margin-left: -60px !important;
    margin-top: -75px !important;
}
.sidebar-nav > ul > a {
    display: block;
    text-decoration: none;
    color: #757575 !important;
    font-weight: 600 !important;
    font-size: 18px!important;
}
.sidebar-nav > ul > a:hover,
.sidebar-nav > ul.active > a {
    text-decoration: none;
    color: #fff !important;
    background: #454b54 !important;
}
.sidebar-nav > ul > a i.fas {
    font-size: 18px;
    width: 50px;
    padding-right: 50px !important;
}
.sidebar-nav > ul > div > a {
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: #757575 !important;
    font-weight: 600 !important;
}
.dropdown-menu {

}

.navbar>.container {
    align-content: center !important;
}
#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
}
#navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #eee;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
}
#navbar-wrapper .navbar a {
    color: #757575;
}
#navbar-wrapper .navbar a:hover {
    color: #4b5b58;
}

#content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    top: 100px;
}
#wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media (min-width: 992px) {
    .container{
        padding-left: 50px!important;
    }
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 60px;
    }

    sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled sidebar-wrapper {
        width: 60px;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 60px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 60px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
        padding-left: 60px;
    }

    sidebar-wrapper {
        width: 60px;
        padding-right: 50px!important;
    }

    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}

@media (max-width: 767px) {
    #wrapper {
        padding-left: 0;
    }

    sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}

.modal {
    font-size: 12px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}